#table {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  border-collapse: collapse;
  width: 90vw;
  font-size-adjust: initial;
  background-color: #fff;
}

#table td {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr {
  padding-top: 12px;
  padding-bottom: 12px;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #C1E1C1;
  border: 1px solid #000000;
  padding: 8px;
}

/* Set colors for the color scheme */
.red {
  background-color: #E69F00;
}

.blue {
  background-color: #56B4E9;
}

#topleft {
  padding-bottom: 12px;
  float: left;
}

#topright {
  padding-bottom: 12px;
  float: right;
}

/* Side bar for list of reports */

#sidebar {
  background-color: #C1E1C1;
  left: 0;
  width: 20%;
  position: absolute;
  height: 100%;

}

#main {
  width: 70%;
  right: 0em;
  position: absolute;
}

#home {
  background-color: #C1E1C1;
  text-align: center;
  padding: 5%;
}
