{% extends "base.html" %}

{% block content %}
<br/>
  <h2>Add a Staff member</h2>
  <br/>
  <form action=" " method="post" name="add">
      <p>
          Name: {{ form.name(cols='32',class_='form-control') }}<br>
          {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

          Max Load: {{ form.load(cols='32',rows=10,class_='form-control') }}<br>
          {% for error in form.load.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}

      </p>
      <p><input class="btn btn-sm btn-success" type="submit" value="Save"></p>
  </form>
{% endblock %}
