{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" language="javascript">

$(document).ready(function(){

    table = $('#table').DataTable({
      // set the display of the table: showing all records in 1 page
      aLengthMenu: [
           [25, 50, 100, 200, -1],
           [25, 50, 100, 200, "All"]
      ],
      iDisplayLength: -1,

      // sort the table by 5th column, in ascending order
      order: [[ 5, "asc" ]],

      // arrange the buttons, search/sort/pdf on screen
      dom: '<"#topleft"li><"#topright"Bf>rt<"bottom"p><"clear">',

      // configuration for pdf/csv file
      buttons: [
        {
          extend: 'pdfHtml5',
          text: 'Save PDF',
          exportOptions: {
            columns: [ 1,2,3,5,6,7 ]
          },
          title: 'All Projects',

        },
        {
          extend: 'csv',
          text: 'Save CSV',
          exportOptions: {
            columns: [ 1,2,3,5,6,7 ]
          },
          title: 'All Projects',
        },
      ],

      responsive: true,

      // color code: specific colors are defined in style.css file
      createdRow: function( row, data, dataIndex ) {
             if (data[2] - data[3] == 0  ) {
                $(row).addClass('blue');
              }

             if (data[2] - data[3] < 0  ) {
                $(row).addClass('red');
              }
        },

    });
  });
</script>
{% endblock %}


{% block page %}
<div id="home">
  <h2>Project list and its availability</h2>
  <h5> _Color coding scheme_ </h5>
  <h5><li> Blue: project is fully-allocated</li></h5>
  <h5><li> Orange: project is over-allocated</li></h5>
  <h5><li> White: project is is available</li></h5>
</div>
{% endblock %}


{% block content %}
 <br/>
 <form action="/allProject" method="get, post" name="displace project">

  <table id="table">
  <thead>
    <tr>
      <th> </th>
      <th>Code</th>
      <th>Max students</th>
      <th>Currently</th>
      <th>Popularity</th>
      <th>Staff proposed</th>
      <th>Any staff?</th>
      <th>Staff assigned</th>
    </tr>
  </thead>
  <tbody>
    {% for p in project %}
      <tr>
        <td> &nbsp;
            <a href="/editProject/{{p.id}}"> <i class="fa-solid fa-pen-to-square"></i></a>
            &nbsp;
            <a href="/deleteProject/{{p.id}}"> <i class="fa-solid fa-trash-can"></i> </a>
        </td>
        <td>{{p.code}}</td>
        <td>{{p.load}}</td>
        <td>{{p.students.count()}}</td>
        <td>{{p.popularity}}</td>
        <td>{{p.staff_proposed}}</td>
        <td><a href="/anyStaff/{{p.id}}">{{p.anystaff}}</a></td>
        <td>{{p.staff_assigned}}</td>
      </tr>
    {% endfor %}
  </tbody>

  </table>

 </form>

<br/><br/>
<br/><br/>

{% endblock %}
