{% extends "base.html" %}

{% block scripts %}
 <script>
   $(document).ready(function() {
      $('#table').DataTable( {
        // set the display of the table: showing all records in 1 page
        aLengthMenu: [
             [10, 15, 25, 50, -1],
             [10, 15, 25, 50, "All"]
        ],
        iDisplayLength: -1,

        // arrange the buttons, search/sort/pdf on screen
        dom: '<"#topleft"li><"#topright"f>rt<"bottom"p><"clear">',

        responsive: true,

        // color code: specific colors are defined in style.css file
        // use the data obtained from column 2 and 3 to determine the availability of a staff
        createdRow: function( row, data, dataIndex ) {
             if (data[2] - data[3] == 0  ) {
                $(row).addClass('blue');
              }

             if (data[2] - data[3] < 0  ) {
                $(row).addClass('red');
              }
        },

      });


  });
  </script>
{% endblock %}


{% block page %}
<div id="home">
  <h2>Supervisors and their availability</h2>
  <h5> _Color coding scheme_ </h5>
  <h5><li> Blue: supervisor is fully-allocated</li></h5>
  <h5><li> Orange: supervisor is over-allocated</li></h5>
  <h5><li> White: supervisor is available</li></h5>
</div>
{% endblock %}


{% block content %}
 <br/><br/>
 <div class="row">
  <div class="col-md-6 text-left">
    <form action="/default" method="post" name="default">
      <p>Max students per staff {{ form.load }}<input type="submit" value="Set default"></p>
    </form>
  </div>

 <div class="col-md-6 text-right">
 <a href="/addOneStaff" ><button type="button" class="btn btn-warning">Add a staff member</button></a>
 </div>
 </div>
 <form action="/responseStaff" method="POST" id="staff">

  <table id="table">
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Max students</th>
      <th>Current #</th>
      <th>Students</th>
      <th>Projects</th>
    </tr>
  </thead>
  <thead>
      <tr class="no-sort">
          <td> </td>
          <td> </td>
          <td><b>{{sum_load}} in total</b></td>
          <td><b>{{sum_students}} students</b></td>
          <td> </td>
          <td> </td>
        </tr>
  </thead>
  <tbody>

    {% for s in staff %}
      <tr>
        <td> &nbsp;
          <a href="/editStaff/{{s.id}}"> <i class="fa-solid fa-pen-to-square"></i></a>
          &nbsp;
          <a href="/deleteStaff/{{s.id}}"> <i class="fa-solid fa-trash-can"></i> </a>
        </td>
        <td>{{s.name}}</td>
        <td>{{s.load}}</td>
        {% if  s.students.count() - s.current != 0 %}
        <td>{{ s.current_update(s.students.count()) }}</td>
        {% else %}
        <td>{{ s.students.count() }}</td>
        {% endif %}
        <td>
        {% for single_stu in s.students %}
            {{single_stu.username}} |
        {% endfor %}
        </td>
        <td>
        {% for single_pj in s.projects %}
            {{single_pj.code}} |
        {% endfor %}
        </td>
      </tr>
    {% endfor %}

  </tbody>

  </table>
</form>

<br/><br/>
<br/><br/>

{% endblock %}
