{% extends "base.html" %}

{% block scripts %}

<script type="text/javascript" language="javascript">

$(document).ready(function(){

    $('#table').DataTable({
      aLengthMenu: [
           [25, 50, 100, 200, -1],
           [25, 50, 100, 200, "All"]
      ],
      iDisplayLength: -1,

      dom: '<"#topleft"li><"#topright"Bf>rt<"bottom"p><"clear">',
      buttons: [
          {
            extend: 'pdfHtml5',
            text: 'Save PDF',
            orientation : 'landscape',
            pageSize : 'LEGAL',
            exportOptions: {
              columns: [ 1,2,3,4,5,6,7,8 ]
            },
            title: 'Allocation-students',
            customize: function(doc) {
              doc.defaultStyle.alignment = 'center';
            }
          },
          {
            extend: 'csv',
            text: 'Save CSV',
            exportOptions: {
              columns: [ 1,2,3,4,5,6,7,8 ]
            },
            title: 'Allocation-students',
          },
      ],

      responsive: true,

      createdRow: function( row, data, dataIndex ) {
          if (data[3] == data[4] || data[3] == data[5] || data[3] == data[6]
           || data[4] == data[5] || data[4] == data[6] || data[5] == data[6]) {
              $(row).addClass('red');
            }
          if (data[3] == '' || data[4] == '' || data[5] == '' || data[6] == '')
          {
              $(row).addClass('red');
          }
          if (data[7] != 0  ) {
             $(row).addClass('blue');
           }
      },
    });

});

</script>
{% endblock %}

{% block page %}
<div id="home">
  <h2>Student's preferences & Allocation table</h2>
  <h5> _Color coding scheme_ </h5>
  <h5><li> Blue: this student has been allocated a project</li></h5>
  <h5><li> Orange: this student submitted duplicated codes or less than 4 preferences</li></h5>
</div>
{% endblock %}


{% block content %}
 <br/>
 <div class="row">
 <div class="col-md-12 text-center">
    <a href="/addOneStudent" ><button type="button" class="btn btn-warning">Add a student</button></a>
    </div>
    </div>
    <form action="/responseStaff" method="POST" id="staff">
  <br/>

 <form action="/allStudent" method="post" name="displace student">

  <table id="table">
  <thead>
    <tr>
      <th> </th>
      <th>Name</th>
      <th>Username</th>
      <th>Preference 1</th>
      <th>Preference 2</th>
      <th>Preference 3</th>
      <th>Preference 4</th>
      <th>Allocate</th>
      <th>Supervisor</th>
    </tr>
  </thead>
  <tbody>
    {% for s in student %}
      <tr>
        <td>
          <a href="/editStudent/{{s.id}}"> <i class="fa-solid fa-pen-to-square"></i> </a>
          <a href="/deleteStudent/{{s.id}}"> <i class="fa-solid fa-trash-can"></i> </a>
        </td>
        <td><a href="/student/{{s.username}}"> {{s.stu_name}} </a></td>
        <td>{{s.username}}</td>
        <td>{{s.pref1}}</td>
        <td>{{s.pref2}}</td>
        <td>{{s.pref3}}</td>
        <td>{{s.pref4}}</td>
        <td>{{s.allocate}}</td>
        <td>{{s.staff_name}}</td>
      </tr>
    {% endfor %}
  </tbody>

  </table>

 </form>

<br/><br/>
<br/><br/>

{% endblock %}
