{% extends "base.html" %}

{% block scripts %}

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <script type="text/javascript" language="javascript">
    $(function() {

        $.ajax({
            url: '{{ url_for("autocompleteStaff") }}'
            }).done(function (data){
                $('#staff_autocomplete').autocomplete({
                    source: data,
                    minLength: 1
                });
            });
    });
  </script>

{% endblock %}

{% block content %}
<br/>
  <h2>Edit Project Information</h2>
  <br/>
  <form action=" " method="post" name="edit">
      <p>
          Code: {{p.code}} <br/><br/>
          Title: {{ form.title(cols='32',class_='form-control') }}<br>
          {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          Load: {{ form.max_student(cols='32',class_='form-control') }}<br>
          {% for error in form.max_student.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          Proposed by: {{ form.staff_proposed(cols='32',class_='form-control') }}<br>
          {% for error in form.staff_proposed.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br/>

      </p>
      <p><input class="btn btn-sm btn-success" type="submit" value="Save"></p>
  </form>
{% endblock %}
