{% extends "base.html" %}


{% block content %}
<br/>
  <h2>Edit Student Information</h2>
  <br/>
  <form action=" " method="post" name="edit">
      <p>
          Name: {{student.stu_name}} <br/><br/>
          Username: {{student.username}} <br/><br/>
          Pref 1: {{ form.pref1(cols='32',class_='form-control') }}<br>
          {% for error in form.pref1.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          Pref 2: {{ form.pref2(cols='32',class_='form-control') }}<br>
          {% for error in form.pref2.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          Pref 3: {{ form.pref3(cols='32',class_='form-control') }}<br>
          {% for error in form.pref3.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          Pref 4: {{ form.pref4(cols='32',class_='form-control') }}<br>
          {% for error in form.pref4.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}


      </p>
      <p><input class="btn btn-sm btn-success" type="submit" value="Save"></p>
  </form>

  {% endblock %}
