{% extends "base.html" %}

  {% block page %}
  <div id="home"><h3>Homepage</h3>
  <h5> This application helps a project coordinator allocating project to final year students</h5>
  </div>
  {% endblock %}

  {% block home %}
  <div class="row">
  <div class="col-sm-2 sidenav"></div>
  <div class="col-sm-9 text-left">
    <div class="row">
      <div class="col-sm-12">

        <h5><br>With this application, project coordinator can:</h5>
        <h6> - Parse and clean data collected from student's submitted preferences form (semi-automated). </h6>
        <h6> - Allocate a project and supervisor to a student. </h6>
        <h6> - Export useful reports for students and supervisors. </h6>

        <br><hr>
        <h4><br> Allocation process </h4>
        <h5> - In <a href="/student">Student page</a>, user can access each student profile where they can allocate a project/supervisor to that student. </h5>
        <h5> - <a href="/staff">Staff page</a> and <a href="/project">Project page</a> keep track of the availability of a staff member/ project after allocations.</h5>
        <h5> - Useful reports can be found and exported in <a href="/reports">Reports page</a>.</h5>

        <br><hr>
         <h4><br> Note </h4>
        <h4>A. Before 1st round of allocation, make sure all tables are empty</h4>
        <a href="/resetStudent" ><button type="button" class="btn btn-warning">Reset Student table</button></a>
        <a href="/resetStaff"><button type="button" class="btn btn-warning">Reset Staff table</button></a>
        <a href="/resetProject"><button type="button" class="btn btn-warning">Reset Project table</button></a>

        <h5><br> - Step 1. Add a list of supervisors to the database
        <a href="/addStaff"><button type="button" class="btn btn-info">Add supervisors</button></a>
        </h5>
        <h6> This list is fixed and can be adjusted in function addStaff() in views.py before adding. </h6>
        <h6> For any changes after adding the list, user can Edit/ Delete or Add a new Supervior on <a href="/staff">Staff page</a>.
        </h6>

        <h5><br> - Step 2. Upload your CSV file - student preferences </h5>
        <form method="POST" action="" enctype="multipart/form-data">
          <p><input type="file" name="file"></p>
          <p><input type="submit" value="Submit"></p>
        </form>
        <h6> After uploading, any mistakes made by students (additional space/characters in project code) will be eliminated;
          long project codes will be shortened and kept unique.
        </h6>
        <h6> Any submission with duplicated code or with less than 4 preferences will be highlighted in <a href="/student">Student page</a>. </h6>
        <h6> Make sure these warnings are checked and any changes to the projects code should be made before step 4.</h6>

        <h5><br> - Step 3. Load project list to the database
        <a href="/addProject"><button type="button" class="btn btn-info">Load projects</button></a>
        </h5>
        <h6> Based on the Student table, a list of projects that appear at least once as a student's preference will be added to the database,
          check out <a href="/project">Project page</a>.
        </h6>

        <h5><br> - All data has been successfully added, now project coordinator can start the allocation process. </h5>

        <h4><br>B. For 2nd round allocation: skip step 1 & 3, follow step 2 to upload another CSV file </h4>
        <h6> - New students will be added to the students' preference table</h6>
        <h6> - Students that resubmit will be updated with new preferences and deallocated from the current project and supervisor. </h6>
        <h6> - Project coordinator can continue the allocation process as usual</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-1 sidenav"></div>
  </div>

  <br/> <br/>
  {% endblock %}
