<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet">

<script>
   $(document).ready(function() {
      $('#table').DataTable( {
        dom: 'B',
        buttons: [
          {
            extend: 'pdfHtml5',
            text: 'Save PDF',
            title: 'Available Supervisors',
            customize: function(doc) {
              doc.defaultStyle.alignment = 'left';
            }
          },
          {
            extend: 'csv',
            text: 'Save CSV',
            title: 'Available Supervisors',
          },
        ],

        responsive: false,
        searching: false,
        bPaginate: false,
        bLengthChange: false,
        bFilter: true,

      });


  });
  </script>


<br/>
 <h5 style="text-align:center"> Available Supervisors </h5>
 <table id="table" style="width: 60vw;">
 <thead>
   <tr>
     <th>Name</th>
     <th>Max students</th>
     <th>Current #</th>
     <th>Available space</th>
   </tr>
 </thead>

 <tbody>
   {% for s in staff %}
      {% if s.load - s.students.count() > 0 %}
        <tr>
          <td>{{s.name}}</td>
          <td>{{s.load}}</td>
          <td>{{s.students.count()}}</td>
          <td>{{s.load - s.students.count()}}</td>
        </tr>
      {% endif %}
   {% endfor %}

 </tbody>

 </table>

<br/><br/>
<br/><br/>
</html>

