<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet">

<script>
   $(document).ready(function() {
      $('#table').DataTable( {
        dom: 'B',
        buttons: [
            {
                extend: 'pdfHtml5',
                text: 'Save PDF',
                title: 'Allocation by Student',
            },
            {
                extend: 'csv',
                text: 'Save CSV',
                title: 'Allocation by Student',
            },
        ],

        responsive: false,
        searching: false,
        bPaginate: false,
        bLengthChange: false,
        bFilter: true,

    });

  });
  </script>


<br/>
 <h5 style="text-align:center"> Allocation by Student</h5>
 <p> Note: </p>
 <p> - Preference = 1/2/3/4: the project assigned is the student's 1st/2nd/3rd/4th choice</p>
 <p> - Preference = 5: the project assigned is not in 1 of the 4 preferences submitted by student</p>
 <table id="table" style="width: 60vw;">
 <thead>
   <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Project</th>
        <th>Project title</th>
        <th>Preference</th>
        <th>Supervisor</th>
   </tr>
 </thead>

   {% for s in student %}
     <tr>
        <td>{{s.stu_name}}</td>
        <td>{{s.username}}</td>
        <td>{{s.projects}}</td>
        <td>{{s.__codeToTitle__(s.projects)}}</td>
        <td>{{s.__pref__()}}</td>
        <td>{{s.staff_name}}</td>
     </tr>
   {% endfor %}

 </tbody>

 </table>
</form>

<br/><br/>
<br/><br/>
</html>
