{% extends "base.html" %}

{% block scripts %}

  <canvas id="myChart" width="400" height="400"></canvas>

  <script type="text/javascript" language="javascript">
  $(document).ready(function() {

    var chart=null; // variable to track if chart object has been created

    // detect when user click on the link
    $("a.link1").on("click", function(e) {
        e.preventDefault();
        // if another chart object has been created before the click,
        // destroy it before creating another one
        if(chart!=null){
            chart.destroy();
        }
        $( "#report_content" ).empty();

        // using AJAX to load dynamic data request from URL /pieChart
        $.ajax({
            url: '{{ url_for("pieChart") }}',
            success: function (response) {

              // parsing data sent from server
                var datachart = JSON.parse(response);
                var labels = datachart.map(function(e) {
                  return e.labels;
                });
                var values = datachart.map(function(e) {
                  return e.values;
                });

              // set parameters and configuration data for the pie chart
                var ctx = document.getElementById("myChart").getContext("2d");
                var config = {
                  type: 'pie',
                  data: {
                      labels: labels,
                      datasets: [{
                        label: 'Pie chart',
                        data: values,
                        backgroundColor: [
                        "#F7464A", "#46BFBD",
                        "#FDB45C", "#ABCDEF",
                        "#FEDCBA", "#DDDDDD"]
                      }]
                  },
                  options: {
                      maintainAspectRatio: false,
                      responsive: true,
                      title: {
                      display: true,
                      text: 'Proportion of students in each preference'
                      },

                    }
                };

                // create the pie chart on click
                chart = new Chart(ctx, config);

            }
        });
        $("#chart_content").text("Click each label to exclude the correspoding category from the chart");
      });

      // detect when user click on the link
      $("a.link2").on("click", function(e) {
        if(chart!=null){
            chart.destroy();
        }
        // empty content in the 2 div: chart_content and report_content
        $( "#chart_content" ).empty();
        $( "#report_content" ).empty();
        // load the correspoding report to div id=report_content
        $( "#report_content").load("report1");
      });

      // detect when user click on the link
      $("a.link3").on("click", function(e) {
        if(chart!=null){
            chart.destroy();
        }
        // empty content in the 2 div: chart_content and report_content
        $( "#chart_content" ).empty();
        $( "#report_content" ).empty();
        // load the correspoding report to div id=report_content
        $( "#report_content").load("report2");
      });

      // detect when user click on the link
      $("a.link4").on("click", function(e) {
        if(chart!=null){
            chart.destroy();
        }
        // empty content in the 2 div: chart_content and report_content
        $( "#chart_content" ).empty();
        $( "#report_content" ).empty();
        // load the correspoding report to div id=report_content
        $( "#report_content").load("report3");
      });

      // detect when user click on the link
      $("a.link5").on("click", function(e) {
        if(chart!=null){
            chart.destroy();
        }
        // empty content in the 2 div: chart_content and report_content
        $( "#chart_content" ).empty();
        $( "#report_content" ).empty();
        // load the correspoding report to div id=report_content
        $( "#report_content").load("report4");
      });

      // detect when user click on the link
      $("a.link6").on("click", function(e) {
        if(chart!=null){
            chart.destroy();
        }
        // empty content in the 2 div: chart_content and report_content
        $( "#chart_content" ).empty();
        $( "#report_content" ).empty();
        // load the correspoding report to div id=report_content
        $( "#report_content").load("report5");
      });
  });
  </script>
  {% endblock %}

  {% block page %}
  <div id = "sidebar" >
      <br/>
      <h5> &nbsp; Reports </h5>
      <ol type="1">
        <li><a class="link1"> Proportion of Students in each Preference </a> </li>
        <br/>
        <li><a class="link2"> Allocation by Student </a> </li>
        <li><a class="link3"> Allocation by Supervisor </a> </li>
        <li><a class="link4"> Allocation by Project </a> </li>
        <br/>
        <li><a class="link5"> Available Supervisors </a> </li>
        <li><a class="link6"> Available Projects </a> </li>
      </ol>
  </div>

  <div id = 'main'>
    <div id="chart_content" style="position: fixed; right: 1%; top: 65%;"></div>
    <div id="report_content"></div>
  </div>


  {% endblock %}
