{% extends "base.html" %}

{% block scripts %}

  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">


  <script type="text/javascript" language="javascript">
    $(function() {

      $.ajax({
        url: '{{ url_for("autocompleteProject") }}'
        }).done(function (data){
            $('#project_autocomplete').autocomplete({
                source: data,
                minLength: 0
            });
        });

        $.ajax({
            url: '{{ url_for("autocompleteStaff") }}'
            }).done(function (data){
                $('#staff_autocomplete').autocomplete({
                    source: data,
                    minLength: 0
                });
            });
    });
  </script>

{% endblock %}

{% block content %}
<br/>
<form action=" " method="post" name="each student profile">

<table id="table">
 <tbody>
   <tr>
     <th>Name</th>
     <td>{{student.stu_name}}</td>
   </tr>
   <tr>
     <th>Username</th>
     <td>{{student.username}}</td>
   </tr>
   <tr>
    <th>Degree</th>
    <td>{{student.degree}}</td>
  </tr>
</tbody>
</table>
<br/>

<br/>
<table id="table">
  <tbody>
   <tr>
     <th>Project Allocate: {{student.projects}}</th>
     <td> Pref {{student.__pref__()}} </td>
     <td>
        {{ form2.project() }}
     </td>
   </tr></tr>
   <th>Supervisor</th>
   <td> {{student.staff_name}} </td>
   <td>
      {{ form2.supervisor() }}
      <input class="btn btn-sm btn-success" type="submit" value="Allocate">
   </td>
 </tr>
 </tbody>
 </table>
 <p style='text-align: right'> To deallocate: Input 'None' for both project and supervisor fields then submit</p>

<br/>
 <table id="table">
   <tbody>
   <tr>
     <th>Pref 1: {{student.pref1}}</th>
     <td>{{student.title1}}</td>
   </tr><tr>
     <td>Reason</td>
     <td>{{student.reason1}}</td>
   </tr>
   <tr>
     <th>Pref 2: {{student.pref2}}</th>
     <td>{{student.title2}}</td>
   </tr><tr>
     <td>Reason</td>
     <td>{{student.reason2}}</td>
   </tr>
   <tr>
     <th>Pref 3: {{student.pref3}}</th>
     <td>{{student.title3}}</td>
   </tr><tr>
     <td>Reason</td>
     <td>{{student.reason3}}</td>
   </tr>
   <tr>
     <th>Pref 4: : {{student.pref4}}</th>
     <td>{{student.title4}}</td>
   </tr><tr>
     <td>Reason</td>
     <td>{{student.reason4}}</td>
   </tr>
</tbody>
</table>
<br/>
{% if student.own_title == None %}
<p>No OWN project</p>

{% else %}
<table id="table">
    <tbody>
   <tr>
     <th>OWN project</th>
     <td>{{student.own_title}} </td>
   </tr><tr>
     <td>Area of Interest</td>
     <td>{{student.own_area}}</td>
   </tr><tr>
    <td>Staff</td>
    <td>{{student.own_staff}}</td>
  </tr><tr>
    <td>Resources</td>
    <td>{{student.own_resource}}</td>
  </tr><tr>
    <td>Description</td>
    <td>{{student.own_description}}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{student.__status__()}} &nbsp;
      {{ form1.status() }}
      <input class="btn btn-sm btn-success" type="submit" value="Save">
    </td>
  </tr>
  {% endif %}
 </tbody>
 </table>

<br/><br/><br/><br/>
{% endblock %}
